<header class="header">

    {{#if user}}
    <a href="/logout">Esci</a>
    {{else}}
    <a href="/login">Accedi</a>
    <a href="/register">Registrati</a>
    <a href="/note">Lista utenti</a>
    {{/if}}
</header>